*{
    margin: 0;
    border: 0;
}

html{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 100px;
    align-items: center;
    height: 100vh;
}

h1{
    margin-top: 40px;
    text-transform: uppercase;
}

#contanier{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 100%;
    width: 1300px;
}

#lousa{
    width: 400px;
    height: 400px;
    border: 20px solid rgb(58, 56, 56);
}

#menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#lousa-tamanho{
    text-align: center;
}

.menu-btn{
    background-color: white;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    padding: 10px 0;
    border: 1px solid black;
    transition: 200ms ease-in;
}

.menu-btn:hover{
    background-color: gray;
    color: white;
}

.btn-ativado{
    background-color: black;
    color: white;
}

.quadrado{
    box-sizing: border-box;
    display: inline;
    float: left;
    background-color: white;
}

.background-black{
    background-color: black;
}

.background-white{
    background-color: white;
}