*{
    margin: 0;
    border: 0;
}

html{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1{
    margin: 50px;
    text-transform: uppercase;
    color: blueviolet;
}

#contanier{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 1300px;
}

#lousa{
    width: 900px;
    height: 900px;
    border: 5px solid black;
}

#menu{
    max-width: 100%;
}

.quadrado{
    box-sizing: border-box;
    display: inline;
    float: left;
    background-color: white;
    /* border: 1px solid gray; */
    font-size: 10px;
}

.background-black{
    background-color: black;
}